old
.env
*.webm
*.wav
*.glb
*.mp3
*.step
*.stl
*.dae
skip*.mjs
**/gen/*
**/ai_gen/*.png
screenshot/*
pretrained_models/*
p*/*.stl
p*/*.3mf
exported.stl
__pycache__
node_modules
.workbuddy/